<h1 style="margin-top: 30px;">Weeb-vote</h1>
<h2>Rösta</h2>
<ng-container *ngIf="!loading">
    <form (ngSubmit)="onSubmit(model)" [formGroup]="weebVoteForm">
        <formly-form *ngIf="hasChoices" [form]="weebVoteForm" [fields]="fields" [model]="model" [options]="options"></formly-form>
        <ng-container *ngIf="!hasChoices">
            <div class="text-center" style="font-size: 26px">Inga alternativ tillagda...</div>
        </ng-container>
        <button type="submit" class="btn btn-primary" *ngIf="hasChoices" [disabled]="!weebVoteForm.valid || !votingAllowed || submitDisabled()">{{ votingAllowed ? 'Rösta' : 'Röstning stängd' }}</button>
    </form>
    <h4 [ngClass]="{'text-success': votingAllowed, 'text-danger': !votingAllowed}">
        Röstningen är {{votingAllowed ? 'öppen tills fredag 23:59:59!' : 'stängd för veckan!'}}
    </h4>
    <hr>
    <div id="snackbar">{{snackbarMessage}}</div>
</ng-container>
<ng-container *ngIf="loading">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary loading-spinner">
        </div>
    </div>
    <div class="d-flex justify-content-center loading-spinner-info">
        Laddar alternativ...
    </div>
</ng-container>

<app-weeb-results></app-weeb-results>
