<hr>
<h2>Idag är det {{getDay()}}</h2>
<h3 *ngIf="pollLoaded">{{pollWithChoices.poll.question}}</h3>
<h3 *ngIf="pollLoaded && !user.isLoggedIn()"><a [routerLink]="['/login']">Logga in för att rösta</a></h3>
<form *ngIf="user.isLoggedIn() && pollLoaded" (ngSubmit)="onSubmit()" [formGroup]="voteForm">
    <div class="form-group" *ngFor="let choice of pollWithChoices.choices">
        <div class="custom-control custom-radio">
            <input type="radio" id="{{'choice_' + choice.id}}" formControlName="choice" value="{{choice.value}}"
                   class="custom-control-input" [checked]="choiceVotedFor === choice.id"
                   [attr.disabled]="!votingIsAllowed || !canVoteToday">
            <label class="custom-control-label" for="{{'choice_' + choice.id}}">{{choice.value}}</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" *ngIf="votingIsAllowed && canVoteToday">Rösta</button>
    <button type="submit" class="btn btn-primary" *ngIf="votingIsAllowed && !canVoteToday" [disabled]="true">Redan
        röstat
    </button>
    <button type="submit" class="btn btn-primary" *ngIf="!votingIsAllowed" [disabled]="true">Röstning stängd
    </button>
</form>

<h4 *ngIf="pollLoaded && user.isLoggedIn()"
    [ngClass]="{'text-success': votingIsAllowed, 'text-danger': !votingIsAllowed}">Röstningen
    är {{votingIsAllowed ? 'öppen tills 11:30!' : 'stängd för dagen!'}}</h4>
<hr>
