<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">The BBBoys</a>
    <button class="navbar-toggler" data-target="#collapsibleNavbar" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="['/overview']" class="nav-link">Hem</a>
            </li>
            <li *ngIf="user.isLoggedIn()" class="nav-item" routerLinkActive="active">
                <a [routerLink]="['/weebvote']" class="nav-link">Weeb-vote</a>
            </li>
            <li *ngIf="user.isLoggedIn()" class="nav-item" routerLinkActive="active">
                <a [routerLink]="['/weebchoice']" class="nav-link">Lägg till weeb-alternativ</a>
            </li>
            <li *ngIf="user.isLoggedIn()" class="nav-item" routerLinkActive="active">
                <a [routerLink]="['/settings']" class="nav-link">Inställningar</a>
            </li>
            <li *ngIf="user.isLoggedIn()" class="nav-item" routerLinkActive="active">
                <a [routerLink]="['/logout']" class="nav-link">Logga ut</a>
            </li>
            <li *ngIf="!user.isLoggedIn()" class="nav-item" routerLinkActive="active">
                <a [routerLink]="['/login']" class="nav-link">Logga in</a>
            </li>
        </ul>
    </div>
</nav>
