<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">The BBBoys</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/overview']">Hem</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="user.isLoggedIn()">
                <a class="nav-link" [routerLink]="['/settings']">Inställningar</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="user.isLoggedIn()">
                <a class="nav-link" [routerLink]="['/logout']">Logga ut</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="!user.isLoggedIn()">
                <a class="nav-link" [routerLink]="['/login']">Logga in</a>
            </li>
        </ul>
    </div>
</nav>
