.search-item-movie {
    background-color: #fff;
    padding: 10px;
    color: #444;
    box-shadow: 0 0 10px 1px #e1e1e1;
    border-radius: 3px;
    background-clip: padding-box;
    margin: 40px 0;

    .movie-poster {
        width: 138px;
        height: 203px;
        margin: 10px;
        margin-left: 0!important;
    }

    .movie-title {
        margin-top: 5px;

        .year {
            font-style: italic;
            color: #aaa;
        }
    }

    h2 {
        text-transform: capitalize;
        font-weight: 300;
    }

    .description {
        font-size: 14px;
        min-height: 100px;
    }

    .no-image {
        font-size: 14px;
        padding-top: 7px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .add-button {
        position: absolute;
        bottom: 0;
        right: 15px;
    }
}

@media (max-width: 1500px) and (min-width: 1200px) {
    .movie-poster {
        width: 100px !important;
        height: auto!important;
    }
}
