<h1 style="margin-top: 30px;">Maten för veckan, Vecka {{ getWeek() }}</h1>

<div *ngIf="!bistroJDone || !villaDone" class="d-flex justify-content-center">
    <div class="spinner-border text-primary loading-food">
    </div>
</div>
<div *ngIf="!bistroJDone || !villaDone" class="d-flex justify-content-center loading-food-info">
    Laddar mat-information...
</div>

<ngb-tabset *ngIf="bistroJDone && villaDone">
    <ngb-tab title="Villa Oscar">
        <ng-template ngbTabContent>
            <table class="table table-hover">
                <thead>
                <tr class="justify-content-start">
                    <th scope="col" style="width: 110px;">Dag</th>
                    <th scope="col">Maträtter</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of villa | keyvalue ; index as index"
                    [ngClass]="{'activeDay': foodItemIsForToday(item.key)}">
                    <td class="cursor-point">
                        <a (click)="toggleOpen('#villa' + item.key)" [attr.aria-controls]="'#villa' + item.key"
                           [attr.aria-expanded]="shouldBeOpen('#villa', item.key)"
                           [ngClass]="{'collapsed': !shouldBeOpen('#villa', item.key)}"
                           class="dropdown-toggle" data-toggle="collapse" role="button"
                           tabIndex="{{index}}">
                            {{translateDay(item.key)}}
                        </a>
                    </td>
                    <td>
                        <div [ngbCollapse]="!shouldBeOpen('#villa', item.key)" id="{{'#villa' + item.key}}">
                            <div>
                                <table class="table table-hover table-bordered">
                                    <thead>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let food of item.value">
                                        <td>
                                            {{food}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Bistro J">
        <ng-template ngbTabContent>
            <table class="table table-hover">
                <thead>
                <tr class="justify-content-start">
                    <th scope="col" style="width: 110px;">Dag</th>
                    <th scope="col">Maträtter</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of bistroJ | keyvalue ; index as index"
                    [ngClass]="{'activeDay': foodItemIsForToday(item.key)}">
                    <td class="cursor-point">
                        <a (click)="toggleOpen('#bistroJ' + item.key)" [attr.aria-controls]="'#bistroJ' + item.key"
                           [attr.aria-expanded]="!isCollapsed"
                           class="dropdown-toggle" role="button"
                           tabIndex="{{index}}">
                            {{translateDay(item.key)}}
                        </a>
                    </td>
                    <td>
                        <div [ngbCollapse]="!shouldBeOpen('#bistroJ', item.key)" id="{{'#bistroJ' + item.key}}">
                            <div>
                                <table class="table table-hover table-bordered">
                                    <thead>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let food of item.value">
                                        <td>
                                            {{food}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
