<h1 style="margin-top: 30px;">Registrera konto</h1>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" *ngIf="validToken">
    <div class="form-group">
        <label for="username">Användarnamn</label>
        <input type="text" class="form-control" id="username" formControlName="username"
               placeholder="Sick_Steve_69" required aria-describedby="usernameHelpBlock">
        <small id="usernameHelpBlock" class="form-text text-muted">
            Ditt användarnamn måste vara mellan 2-32 tecken långt och får bara innehålla A-Ö 0-9 _
        </small>
        <br *ngIf="username.invalid && (username.dirty || username.touched)">
        <div class="alert alert-danger" *ngIf="username.invalid && (username.dirty || username.touched)">
            <div *ngIf="username.errors.required">
                Ett användarnamn krävs!
            </div>
            <div *ngIf="username.errors.minlength">
                Ditt användarnamn måste vara minst 2 tecken!
            </div>
            <div *ngIf="username.errors.maxlength">
                Ditt användarnamn får inte vara längre än 32 tecken!
            </div>
            <div *ngIf="username.errors.forbiddenUsername && !username.errors.minlength &&
            !username.errors.required">
                Ogiltigt användarnamn. Ditt användarnamn får bara innehålla <strong>A-Ö 0-9 _</strong>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword1">Nytt lösenord</label>
        <input type="password" class="form-control" id="newPassword1" formControlName="newPassword1"
               placeholder="*********" required aria-describedby="passwordHelpBlock">
        <small id="passwordHelpBlock" class="form-text text-muted">
            Ditt lösenord måste vara mellan 10-50 tecken långt och får bara innehålla A-Ö 0-9 ! @ # _ .
        </small>
        <br *ngIf="newPassword1.invalid && (newPassword1.dirty || newPassword1.touched)">
        <div class="alert alert-danger" *ngIf="newPassword1.invalid && (newPassword1.dirty || newPassword1.touched)">
            <div *ngIf="newPassword1.errors.required">
                Ett lösenord krävs!
            </div>
            <div *ngIf="newPassword1.errors.minlength">
                Ditt lösenord måste vara minst 10 tecken!
            </div>
            <div *ngIf="newPassword1.errors.maxlength">
                Ditt lösenord får inte vara längre än 50 tecken!
            </div>
            <div *ngIf="newPassword1.errors.forbiddenPassword && !newPassword1.errors.minlength &&
            !newPassword1.errors.required">
                Ogiltigt lösenord. Ditt lösenord får bara innehålla <strong>A-Ö 0-9 ! @ # _ .</strong>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword2">Upprepa nytt lösenord</label>
        <input type="password" class="form-control" id="newPassword2" formControlName="newPassword2"
               placeholder="*********" required>
        <br *ngIf="newPassword2.invalid && (newPassword2.dirty || newPassword2.touched)">
        <div class="alert alert-danger" *ngIf="newPassword2.invalid && (newPassword2.dirty || newPassword2.touched)">
            <div *ngIf="newPassword2.errors.required">
                Ett lösenord krävs!
            </div>
            <div *ngIf="newPassword2.errors.minlength">
                Ditt lösenord måste vara minst 10 tecken!
            </div>
            <div *ngIf="newPassword2.errors.maxlength">
                Ditt lösenord får inte vara längre än 50 tecken!
            </div>
            <div *ngIf="newPassword2.errors.forbiddenPassword && !newPassword2.errors.minlength &&
            !newPassword2.errors.required">
                Ogiltigt lösenord. Ditt lösenord får bara innehålla <strong>A-Ö 0-9 ! @ # _ .</strong>
            </div>
        </div>
    </div>
    <div class="alert alert-danger" *ngIf="registerForm.invalid && newPassword1.valid && newPassword2.valid">
      <span *ngIf="registerForm.errors.mismatch">
          Ditt nya lösenord matchar inte i båda fälten!
      </span>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]=" registerForm.invalid">Skapa konto</button>
    <br *ngIf="registerError">
    <br *ngIf="registerError">
    <div class="alert alert-danger" *ngIf="registerError">{{registerErrorMsg}}</div>
</form>
