<h1 style="margin-top: 30px;">Inställningar</h1>
<hr>
<h2 style="margin-top: 30px;">Byt lösenord</h2>
<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="oldPassword">Gammalt lösenord</label>
        <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword"
               placeholder="*********" required>
        <br *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">
        <div class="alert alert-danger" *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">
            <div *ngIf="oldPassword.errors.required">
                Ett lösenord krävs!
            </div>
            <div *ngIf="oldPassword.errors.maxlength">
                Ditt lösenord får inte vara längre än 50 tecken!
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword1">Nytt lösenord</label>
        <input type="password" class="form-control" id="newPassword1" formControlName="newPassword1"
               placeholder="*********" required aria-describedby="passwordHelpBlock">
        <small id="passwordHelpBlock" class="form-text text-muted">
            Ditt lösenord måste vara mellan 10-50 tecken långt och får bara innehålla A-Ö 0-9 ! @ # _ .
        </small>
        <br *ngIf="newPassword1.invalid && (newPassword1.dirty || newPassword1.touched)">
        <div class="alert alert-danger" *ngIf="newPassword1.invalid && (newPassword1.dirty || newPassword1.touched)">
            <div *ngIf="newPassword1.errors.required">
                Ett lösenord krävs!
            </div>
            <div *ngIf="newPassword1.errors.minlength">
                Ditt lösenord måste vara minst 10 tecken!
            </div>
            <div *ngIf="newPassword1.errors.maxlength">
                Ditt lösenord får inte vara längre än 50 tecken!
            </div>
            <div *ngIf="newPassword1.errors.forbiddenPassword && !newPassword1.errors.minlength &&
            !newPassword1.errors.required">
                Ogiltigt lösenord. Ditt lösenord får bara innehålla <strong>A-Ö 0-9 ! @ # _ .</strong>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword2">Upprepa nytt lösenord</label>
        <input type="password" class="form-control" id="newPassword2" formControlName="newPassword2"
               placeholder="*********" required>
        <br *ngIf="newPassword2.invalid && (newPassword2.dirty || newPassword2.touched)">
        <div class="alert alert-danger" *ngIf="newPassword2.invalid && (newPassword2.dirty || newPassword2.touched)">
            <div *ngIf="newPassword2.errors.required">
                Ett lösenord krävs!
            </div>
            <div *ngIf="newPassword2.errors.minlength">
                Ditt lösenord måste vara minst 10 tecken!
            </div>
            <div *ngIf="newPassword2.errors.maxlength">
                Ditt lösenord får inte vara längre än 50 tecken!
            </div>
            <div *ngIf="newPassword2.errors.forbiddenPassword && !newPassword2.errors.minlength &&
            !newPassword2.errors.required">
                Ogiltigt lösenord. Ditt lösenord får bara innehålla <strong>A-Ö 0-9 ! @ # _ .</strong>
            </div>
        </div>
    </div>
    <div class="alert alert-danger" *ngIf="changePasswordForm.invalid && newPassword1.valid && newPassword2.valid">
      <span *ngIf="changePasswordForm.errors.mismatch">
          Ditt nya lösenord matchar inte i båda fälten!
      </span>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]=" changePasswordForm.invalid">Byt lösenord</button>
    <br *ngIf="changePasswordError">
    <div class="alert alert-danger" *ngIf="changePasswordError">{{changePasswordErrorMsg}}</div>
</form>
<div class="error" id="changePasswordError"></div>
<div class="success" id="changePasswordSuccess"></div>
<div *ngIf="user.isAdmin()">
    <hr>
    <h2 style="margin-top: 30px;">Skapa registreringslänk</h2>
    <button type="submit" class="btn btn-primary" (click)="createLink()">Skapa länk</button>
    <div class="alert alert-danger" *ngIf="createRegisterLinkError">{{createRegisterLinkErrorMsg}}</div>
    <hr>
    <h2 style="margin-top: 30px;">Aktiva registreringslänkar</h2>
    <table class="table table-hover">
        <thead>
        <tr class="justify-content-start">
            <th scope="col">Länk</th>
            <th scope="col">Använd?</th>
            <th scope="col">Skapad</th>
            <th scope="col">Kopiera</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let link of registrationLinks">
            <td>
                {{link.token}}
            </td>
            <td>
                {{link.used ? 'Ja' : 'Nej'}}
            </td>
            <td>
                {{link.timestamp}}
            </td>
            <td>
                <a (click)="copyRegisterLink(link.token)" class="copyToken"><i class="fas fa-lg fa-clipboard"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="snackbar">{{snackbarMessage}}</div>
</div>
