<h1 style="margin-top: 30px;">Inställningar</h1>
<hr>
<h2 style="margin-top: 30px;">Byt lösenord</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
    <div class="form-group">
        <label for="oldPassword">Gammalt lösenord</label>
        <input class="form-control" formControlName="oldPassword" id="oldPassword" placeholder="*********"
               required type="password">
        <br *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">
        <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="alert alert-danger">
            <div *ngIf="oldPassword.errors.required">
                Ett lösenord krävs!
            </div>
            <div *ngIf="oldPassword.errors.maxlength">
                Ditt lösenord får inte vara längre än 50 tecken!
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword1">Nytt lösenord</label>
        <input aria-describedby="passwordHelpBlock" class="form-control" formControlName="newPassword1"
               id="newPassword1"
               placeholder="*********" required type="password">
        <small class="form-text text-muted" id="passwordHelpBlock">
            Ditt lösenord måste vara mellan 10-50 tecken långt och får bara innehålla A-Ö 0-9 ! @ # _ .
        </small>
        <br *ngIf="newPassword1.invalid && (newPassword1.dirty || newPassword1.touched)">
        <div *ngIf="newPassword1.invalid && (newPassword1.dirty || newPassword1.touched)" class="alert alert-danger">
            <div *ngIf="newPassword1.errors.required">
                Ett lösenord krävs!
            </div>
            <div *ngIf="newPassword1.errors.minlength">
                Ditt lösenord måste vara minst 10 tecken!
            </div>
            <div *ngIf="newPassword1.errors.maxlength">
                Ditt lösenord får inte vara längre än 50 tecken!
            </div>
            <div *ngIf="newPassword1.errors.forbiddenPassword && !newPassword1.errors.minlength &&
            !newPassword1.errors.required">
                Ogiltigt lösenord. Ditt lösenord får bara innehålla <strong>A-Ö 0-9 ! @ # _ .</strong>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword2">Upprepa nytt lösenord</label>
        <input class="form-control" formControlName="newPassword2" id="newPassword2" placeholder="*********"
               required type="password">
        <br *ngIf="newPassword2.invalid && (newPassword2.dirty || newPassword2.touched)">
        <div *ngIf="newPassword2.invalid && (newPassword2.dirty || newPassword2.touched)" class="alert alert-danger">
            <div *ngIf="newPassword2.errors.required">
                Ett lösenord krävs!
            </div>
            <div *ngIf="newPassword2.errors.minlength">
                Ditt lösenord måste vara minst 10 tecken!
            </div>
            <div *ngIf="newPassword2.errors.maxlength">
                Ditt lösenord får inte vara längre än 50 tecken!
            </div>
            <div *ngIf="newPassword2.errors.forbiddenPassword && !newPassword2.errors.minlength &&
            !newPassword2.errors.required">
                Ogiltigt lösenord. Ditt lösenord får bara innehålla <strong>A-Ö 0-9 ! @ # _ .</strong>
            </div>
        </div>
    </div>
    <div *ngIf="changePasswordForm.invalid && newPassword1.valid && newPassword2.valid" class="alert alert-danger">
      <span *ngIf="changePasswordForm.errors.mismatch">
          Ditt nya lösenord matchar inte i båda fälten!
      </span>
    </div>
    <button [disabled]=" changePasswordForm.invalid" class="btn btn-primary" type="submit">Byt lösenord</button>
    <br *ngIf="changePasswordError">
    <div *ngIf="changePasswordError" class="alert alert-danger">{{changePasswordErrorMsg}}</div>
</form>
<div *ngIf="user.isAdmin()">
    <hr>
    <h2 style="margin-top: 30px;">Skapa registreringslänk</h2>
    <button (click)="createLink()" class="btn btn-primary" type="submit">Skapa länk</button>
    <div *ngIf="createRegisterLinkError" class="alert alert-danger">{{createRegisterLinkErrorMsg}}</div>
    <hr>
    <h2 style="margin-top: 30px;">Aktiva registreringslänkar</h2>
    <table class="table table-hover">
        <thead>
        <tr class="justify-content-start">
            <th scope="col">Länk</th>
            <th scope="col">Använd?</th>
            <th scope="col">Skapad</th>
            <th scope="col">Kopiera</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let link of registrationLinks">
            <td>
                {{link.token}}
            </td>
            <td>
                {{link.used ? 'Ja' : 'Nej'}}
            </td>
            <td>
                {{link.timestamp}}
            </td>
            <td>
                <a (click)="copyRegisterLink(link.token)" class="copyToken"><i class="fas fa-lg fa-clipboard"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="snackbar">{{snackbarMessage}}</div>
</div>
